#corpo{
    margin-bottom: 85px;
}
body {
    background-color: #f8f9fa;
}

#menu {
    background-color: #0b3661;
    color: #ffffff;
}

#corpo {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

#rodape {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul li{
    list-style-type: none;
}
form{
    margin-bottom: 150px;
}